button {
    --offset: var(--button-default-offset);

    position: relative;

    border-radius: 0.5625rem;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
    background-color: var(--button-background-color);

    box-shadow: 0.0rem calc(var(--offset)) calc(var(--offset)) 0.0rem
        var(--button-shadow-color);
    transition: box-shadow var(--button-transition-duration)
        var(--button-transition-function);

    & > span {
        border-radius: 0.5rem;
        background-color: var(--button-foreground-color);

        padding: 0.25rem;
        padding-left: 0.4375rem;
        padding-right: 0.4375rem;
        margin: 0;
        width: 100%;
        height: 100%;
        transform: translateY(calc(var(--offset) * -1));

        transition: transform var(--button-transition-duration)
            var(--button-transition-function);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > :global(span) {
            font-size: 0.7em;
        }
    }

    &:focus {
        --offset: var(--button-selected-offset);
        outline: none;
    }

    @media (hover: hover) {
        &:hover {
            --offset: var(--button-hover-offset);
        }
    }
    &:active {
        --offset: var(--button-pressed-offset);
    }

    &[disabled] {
        --offset: var(--button-pressed-offset);
        cursor: not-allowed;

        & > span {
            background-color: transparent;
        }
    }
}
