@font-face {
    font-family: "DSEG14-Classic";
    src: url("/DSEG14-Classic/DSEG14Classic-Regular.woff") format("woff");
}

.machine * {
    box-sizing: border-box;
}

.machine::before {
    content: "";
    --height: 70px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    position: absolute;
    top: calc(var(--height) * -1);
    left: 60px;
    right: 60px;
    height: var(--height);

    display: block;
    /* Put the peper bank under the machine */
    transform: translateZ(-10px);

    background-color: var(--main-9);
}

.machine {
    transform-style: preserve-3d;
    position: relative;

    color: white;
    background-color: var(--main-7);

    display: flex;
    flex-direction: column;

    width: calc(min(500px, 100%));
    border-radius: 5px;
    padding: 20px;
    gap: 25px;
}

.machine, .machine::before {
    box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.3);
}

.machine .lower_part {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.machine .keyboard {
    height: 100%;
    display: grid;
    gap: 12px;
    column-gap: 9px;

    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: end;
}

.machine button {
    min-width: 50px;
    height: 30px;
}

.machine .lower_part>div:nth-child(2) {
}

.machine .send-button {
    width: 200px;
}
