@font-face {
    font-family: "DSEG14-Classic";
    src: url("/DSEG14-Classic/DSEG14Classic-Regular.woff") format("woff");
}

.machine {
    transform-style: preserve-3d;
    position: relative;

    color: white;
    background-color: var(--main-7);

    display: flex;
    flex-direction: column;

    width: calc(min(31.25rem, 100%));
    border-radius: 0.3125rem;
    padding: 1.25rem;
    gap: 1.5625rem;

    &::before {
        content: "";
        --height: 4.375rem;

        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;

        position: absolute;
        top: calc(var(--height) * -1);
        left: 3.75rem;
        right: 3.75rem;
        height: var(--height);

        display: block;
        /* Put the peper bank under the machine */
        transform: translateZ(-0.625rem);

        background-color: var(--main-9);
    }

    &,
    &::before {
        box-shadow: 0.0rem 0.3125rem 1.25rem 0.1875rem rgba(0, 0, 0, 0.3);
    }

    .lower-part {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;

        & > :global(button) {
            width: 100%;
            height: 6.25rem;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .keyboard {
        height: 100%;
        display: grid;
        gap: 0.75rem;
        column-gap: 0.5625rem;

        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        align-content: end;
    }

    $paper-width: 18.75rem;
    $paper-height: 18.75rem;
    .paper {
        transform: translateZ(-0.3125rem); // Under machine but over input rack

        position: absolute;
        left: calc(50% - ($paper-width / 2));

        height: $paper-height;
        width: $paper-width;
        background: white;
        overflow: hidden;

        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .input-paper {
        top: 0;
        transform: translateZ(-0.3125rem) translateY(-100%);
        transition: height 500ms ease, padding 500ms ease-in-out;
        padding: 1.25rem;
    }
    .output-paper {
        bottom: 0;
        height: 0;
        transform: translateZ(-0.3125rem) translateY(100%);
        padding-top: 0;
        transition: height 500ms ease, padding-bottom 500ms ease;

        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        & > div {
            width: 100%;
        }

        input {
            border: none;
            font-size: inherit;
            font-family: inherit;
            width: 100%;
            padding-bottom: 0;
            margin: 0;

            &:focus {
                outline: none;
            }
        }
    }
    // Paper is the center on very low height window
    transform: translateY(calc($paper-height));
    // Machine and peper get centered
    @media (min-height: 30.625rem) {
        transform: translateY(calc($paper-height / 2));
    }
    // Put the machine higher on bigger screens
    @media (min-height: 46.25rem) {
        transform: translateY(calc($paper-height / 4));
    }
    transition: transform 700ms ease-in-out;
    &.eat-paper {
        transform: translateY(0);
        .input-paper {
            height: 0;
            padding: 0;
        }
    }
    &.output-paper {
        .output-paper {
            height: 6.25rem;
            padding: 1.25rem;
        }
    }

    :global(button) {
        min-width: 3.125rem;
        height: 1.875rem;
    }
}
