@font-face {
    font-family: "DSEG14-Classic";
    src: url("/DSEG14-Classic/DSEG14Classic-Regular.woff") format("woff");
}

.machine {
    transform-style: preserve-3d;
    position: relative;

    color: white;
    background-color: var(--main-7);

    display: flex;
    flex-direction: column;

    width: calc(min(500px, 100%));
    border-radius: 5px;
    padding: 20px;
    gap: 25px;

    &::before {
        content: "";
        --height: 70px;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        position: absolute;
        top: calc(var(--height) * -1);
        left: 60px;
        right: 60px;
        height: var(--height);

        display: block;
        /* Put the peper bank under the machine */
        transform: translateZ(-10px);

        background-color: var(--main-9);
    }
    
    &, &::before {
        box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.3);
    }

    .lower_part {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: inherit;

        &>div:nth-child(2) {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: stretch;
            gap: 12px;
            column-gap: 9px;
        }
    }

    .keyboard {
        height: 100%;
        display: grid;
        gap: 12px;
        column-gap: 9px;

        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        align-content: end;
    }

    $paper-width: 300px;
    $paper-height: $paper-width * 1.4142;
    .paper {
        transform: translateZ(-5px); // Under machine but over input rack

        position: absolute;
        left: calc(50% - ($paper-width / 2));

        height: $paper-height;
        width: $paper-width;
        background: white;
        overflow: hidden;

        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .input-paper {
        top: 0;
        transform: translateZ(-5px) translateY(-100%);
        transition: height 500ms ease;
        padding: 20px;
    }
    .output-paper {
        bottom: 0;
        height: 0;
        transform: translateZ(-5px) translateY(100%);
        transition: height 500ms ease, padding 500ms ease;

        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        input {
            border: none;
            font-size: inherit; font-family: inherit;
            width: 100%;
            padding: 0; margin: 0;

            &:focus {
                outline: none;
            }
        }
    }
    transform: translateY(calc($paper-height / 4));
    transition: transform 1s ease-in-out;
    &.eat-paper {
        transform: translateY(0);
        .input-paper {
            height: 0;
            padding: 0;
        }
    }
    &.output-paper {
        .output-paper {
            height: 100px;
            padding: 20px;
        }
    }

    :global(button) {
        min-width: 50px;
        height: 30px;
    }
}
