.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 2rem;
  width: 100%;

  &.header-discrete {
    position: absolute;
    // Bigger outer container size for easier :hover
    height: 3rem;

    .header-inside-container {
      opacity: 0;
      transform: translateY(-2rem);
    }

    .discrete-arrow {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(0);
      height: 2rem;

      transition: transform var(--transition);

      color: var(--text-color-gray);
    }

    &:hover {
      .header-inside-container {
        opacity: 1;
        transform: translateY(0);
      }

      .discrete-arrow {
        transform: translateY(2rem) rotate(180deg);
      }
    }
  }

  &:not(.header-discrete) .discrete-arrow {
    display: none;
  }

  .header-inside-container {
    height: 2rem;
    width: 100%;

    background: var(--gray-darker);

    display: flex;

    padding: 0 0rem;
    gap: 0rem;

    transition: opacity var(--transition), transform var(--transition);
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background: var(--gray-darker);
    padding: 0 1rem;
    color: var(--text-color-gray);

    transition: background var(--transition), color var(--transition);

    &.tab-selected {
      background: var(--gray-dark);
      color: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }
  }

  .new-tab {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color var(--transition);
    color: var(--text-color-gray);

    &:hover {
      color: white;
    }
  }

  .tabs-separator {
    flex-grow: 1;
  }

  .tabs-header-button {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color var(--transition);
    color: var(--text-color-gray);

    &:hover {
      color: white;
    }

    &.tabs-header-button-selected {
      background: var(--gray-dark);
    }
  }
}

.modal-backdrop {
	position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
