/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
    --main-0: #fafafa;
    --main-1: #f5f5f5;
    --main-2: #e5e5e5;
    --main-3: #d4d4d4;
    --main-4: #a3a3a3;
    --main-5: #737373;
    --main-6: #525252;
    --main-7: #404040;
    --main-8: #262626;
    --main-9: #171717;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-8);
    min-width: 100vw;
    min-height: 100vh;
}

.center {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
