.display {
    position: relative;
    display: block;
    font-size: 1.25em;
    font-family: "DSEG14-Classic";
    font-weight: bold;
    white-space: nowrap;

    background-color: var(--main-8);
    padding: 0.625rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-radius: 0.3125rem;

    transition: color 150ms ease-in-out;
}

.display.state-normal {
    color: white;
}

.display.state-error {
    color: red;
}

.display.state-success {
    color: lime;
}

:global(.display::before) {
    content: var(--placeholder);

    opacity: 0.1;
    position: absolute;
    left: 0.9375rem;
    top: 0.625rem;
    bottom: 0.625rem;
}
