.cabinet {
    * {
        transform-style: flat;
        perspective: 62.5rem;
        perspective-origin: center -62.5rem;
    }

    display: flex;
    flex-direction: column-reverse;
    width: 20rem;

    background-color: var(--main-9);
    padding: 0.625rem;
    /*padding: 1.5625rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;*/
    gap: 1.875rem;

    border-radius: 0.625rem;
    height: calc(min(100%, 40rem));
}
