.cabinet {
    * {
        transform-style: flat;
        perspective: 1000px;
        perspective-origin: center -1000px;
    }

    display: flex;
    flex-direction: column-reverse;
    width: 350px;

    background-color: var(--main-9);
    padding: 10px;
    /*padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;*/
    gap: 30px;

    border-radius: 10px;
    height: calc(min(100%, 670px));
}
