.paper {
    width: 100%;
    height: 0.125rem;

    &:not(:last-child) {
        margin-bottom: 0.3125rem;
    }

    box-shadow: 0 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.3);
    transform: rotateZ(var(--rot)) translateX(var(--move)) translateY(-50%)
        rotateX(-25deg) translateY(50%);

    &::after {
        content: "";
        display: block;

        background: white;
        width: 100%;
        height: 6.25rem;
    }
}
