@keyframes floating-paper-showup {
    from {
        height: 0.0rem;
    }
    to {
        height: 12.5rem;
    }
}

.floating-paper {
    position: absolute;
    pointer-events: none;

    transform: translateY(calc(-100% + 1.25rem)) rotateZ(var(--rot));
    clip-path: inset(-3.125rem -3.125rem 1.125rem -3.125rem);
    background: white;

    box-shadow: 0 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.3);

    animation-name: floating-paper-showup;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: both;

    &.hide {
        animation-name: floating-paper-showup;
        animation-direction: reverse;
        animation-duration: 300ms;
        animation-delay: 200ms;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
}
