
@keyframes floating-paper-showup {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}

.floating-paper {
    position: absolute;
    pointer-events: none;

    transform: translateY(calc(-100% + 20px)) rotateZ(var(--rot));
    clip-path: inset(-50px -50px 18px -50px);
    background: white;

    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);

    animation-name: floating-paper-showup;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: both;

    &.hide {
        animation-name: floating-paper-showup;
        animation-direction: reverse;
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
}
