@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@keyframes link-modal-background-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes link-modal-paper-appear {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.modal {
    z-index: 9999;
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    cursor: pointer;

    animation: 300ms linear 0s 1 normal both link-modal-background-appear;

    .paper {
        position: relative;
        cursor: default;
        width: calc(min(400px, 100%));
        aspect-ratio: 1 / 1.4142;

        background: white;
        transform: translateY(0px);
        animation: 500ms ease-in-out 0s 1 normal none link-modal-paper-appear;

        display: flex;
        justify-content: stretch;
        align-items: stretch;
        padding: 20px;

        &>* {
            display: block;
            flex-grow: 1;
        }

        label {
            display: flex;
            flex-direction: column;
        }

        .label {
            display: block;
            font-family: Arial;
            flex-shrink: 1;
        }
        .input {
            flex-grow: 1;
            display: block;
            cursor: text;

            border: none;
            max-width: 100%;
            font-family: 'Indie Flower', cursive;
            font-size: inherit;
            font-weight: bold;

            word-break: break-all;
            letter-spacing: 2px;
        }

        .previous {
            font-family: Arial;
            font-weight: bold;
            font-size: inherit;
            cursor: pointer;
            color: white;

            position: absolute;
            top: -50px;
            height: 50px; left: 0; right: 0;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            background: transparent;
            border: none;
            margin: 0;
            padding: 0;
        }
        .next {
            font-family: Arial;
            font-weight: bold;
            font-size: inherit;
            cursor: pointer;
            color: white;

            position: absolute;
            bottom: -50px;
            height: 50px; left: 0; right: 0;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            background: transparent;
            border: none;
            margin: 0;
            padding: 0;
        }
    }
}
