.paper {
    width: 100%;
    height: 2px;

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    transform: rotateZ(var(--rot)) translateX(var(--move)) translateY(-50%) rotateX(-25deg) translateY(50%);

    &::after {
        content: "";
        display: block;

        background: white;
        width: 100%;
        height: 100px;
    }
}
