
.back-button {
    z-index: 2;

    display: block;
    position: absolute;
    left: 0.0rem;
    top: 1.25rem;

    color: white;
    text-decoration: none;
    background-color: var(--main-9);
    padding: 0.9375rem;
    padding-left: 3.4375rem;

    transform: translateX(-2.5rem);
    transition: transform 250ms ease-in-out;

    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;

    box-shadow: 0.0rem 0.3125rem 0.625rem 0.1875rem rgba(0, 0, 0, 0.1);

    &>span {
        display: inline-block;
        writing-mode: vertical-rl;
    }

    &:hover {
        transform: translateX(0.0rem);
    }
}
