
.back-button {
    display: block;
    position: absolute;
    left: 0px;
    top: 20px;

    color: white;
    text-decoration: none;
    background-color: var(--main-9);
    padding: 15px;
    padding-left: 55px;

    transform: translateX(-40px);
    transition: transform 250ms ease-in-out;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);

    &>span {
        display: inline-block;
        writing-mode: vertical-rl;
    }

    &:hover {
        transform: translateX(0px);
    }
}
